*
{
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

html
{
    scroll-behavior: smooth;
}

body
{
    background: whitesmoke;
    color: black; /*sets text at the beginning to be black*/
    overflow-x: hidden; /*hides horizontal scroll*/
}


.container
{
    padding: 1% 5%;
}

.divider
{
    margin: 5vw;
}

/*home page*/
nav
{
    background: #143156;

    width: 100vw;
    margin: auto;
    padding: 2vh 2vw;
}

nav ul 
{
    text-decoration: none;
    color: white;
    font-weight: bold;

    list-style: none;
    
    text-align: center;
    justify-content: center;
}

/*hover over (home, about, resume, etc.) to get underline*/
nav ul a
{
    text-decoration: none;
    color:white;
    font-weight: bold;
}

nav ul a:hover
{
    text-decoration: underline;
} 




/*spacing between sections is mostly about the PADDING*/
#home-text
{
    margin-bottom: 10vh;
    text-align: center;
}

#home-text h1
{
    font-size: 8vw;

    color: black;
    margin-top: 3vh;
    text-shadow: 0.1% 4% 4px;
}

#home-text h1 span
{
    color: #74c9ed;
}

#home-text h1 span-2
{
    color: #143156;
}

#home-text h2
{
    font-size: 2.5vw;
    padding: 1vh 0;
    color: black;
    margin-top: 2%;
    position: relative;
}

#home-text h3
{  
    margin-top: 2vh;
    padding: 1vh 0;
    font-size: 1.5vw;
}
.email:hover
{
    text-decoration: underline;
}

.github:hover
{
    text-decoration: underline;
}

#home-text h4
{
    margin-top: 2vh;
    padding: 1vh 0;
    font-size: 1.5vw;

    margin-bottom: 15vh;
}
.linkedin:hover
{
    text-decoration: underline;
}








/* About Me */

#about
{
    margin-top: 5vh;
    padding: 1vh 0;
    color: black;
}

.row
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.aboutMe-image
{
    flex-basis: 35vw;
    float: left; 
    margin-bottom: 0.25vh;
    margin-top: 0.25vh;
}

.aboutMe-image img
{
    margin-top: 3vh;
    margin-bottom: 3vh;
    margin-right: 3vh;
    height: 75vh;
    width: 33vw;

    border-radius: 40px;
    box-shadow: 1vh 1vh 3vh #b3b3b3;
}

.aboutMeSubtitle
{
    flex-basis: 60vw;
    font-size: 3vw;
    color: black;
}

.aboutMeSubtitle span
{
    color: #74c9ed;
}

.aboutMeSubtitle span-2
{
    color:#143156;
}

.aboutMe-Description p
{
    flex-basis: 60vw;
    line-height: 350%;
    padding-bottom: 6vh;

}


/*Skills Chart*/
#skills 
{
    text-align: left; 
    padding: 1vh 0; 
    color: black; 
    font-size: 5vh;
}

.skillsSubtitle 
{
    margin-top: 5vh;
    margin-left: 5vw;
    font-size: 3vw;
    margin-bottom: 5vh;
    padding: 1vh 0;
}


.skillsSubtitle span
{
    color:#74c9ed;
}

.skillsSubtitle span-2
{
    color:#143156;
}



.skills-background
{
    margin-left: 5vw;
    margin-bottom: 5vh;
    padding: 5vh 0;

    width: 75%;
    
    align-items: center;
    background: whitesmoke;
    border-radius: 15px;
    font-size: 5vh;
    box-shadow: 1vh 1vh 3vh #b3b3b3;
}

.skills-background p
{
    margin-left: 5vw;
}
  

.Java 
{
    font-size: 2vw;

    text-align: 75vw;
    width: 75%; 

    background-color: #74c9ed;
    margin-bottom: 2vh;
    margin-left:5vw;

    border-radius: 5px;
} 
.Java p
{
    width: 75%;
    font-size: 4vh;
    text-align: center;
}

.Python 
{
    font-size: 2vw;
    
    text-align: 60vw;
    width: 60%; 
    
    background-color: #74c9ed;
    margin-bottom: 2vh;
    margin-left: 5vw;

    border-radius: 5px;
} 
.Python p
{
    width: 60%;
    font-size: 4vh;
    text-align: center;
}

.HTMLCSS
{
    font-size: 2vw;

    text-align: 60vw;
    width: 60%; 

    background-color: #74c9ed;
    margin-bottom: 2vh;
    margin-left:5vw;

    border-radius: 5px;
} 
.HTMLCSS p
{
    width: 60%;
    font-size: 4vh;
    text-align: center;
}

.CPlusPlus
{
    font-size: 2vw;
    width: 50%; 

    background-color: #74c9ed;
    margin-left:5vw;

    border-radius: 5px;
} 
.CPlusPlus p
{
    width: 50%;
    font-size: 4vh;
    text-align: center;
}



/*My Portfolio */
#portfolio
{
    padding: 2vh 0;
    display: flex;

    line-height: 200%;

    align-content: center;
    justify-content: center;
}

#portfolio a 
{
    left: 5vw;
    align-items: center;
    text-align: wrap;
    margin: 5vw;
    width: 40%;
}

#portfolio img
{
    left: 5vw;
    border-radius: 10px;
    align-items: center;
    margin-left: 5vw;
    margin-right: 5vw;
    width: 65%;
    box-shadow: 1vh 1vh 3vh #b3b3b3;

    display: block; 
}



.portfolioSubtitle 
{
    padding: 1% 5%;
    font-size: 3vw;
}

.portfolioSubtitle span
{
    color:#74c9ed;
}

.portfolioSubtitle span-2
{
    color:#143156;
}

.portfolioSubtitle p
{
    margin-top: 7vw;
    font-size: 1vw;
}

.portfolioHeading
{
    font-size: 1vw;
}

.portfolioHeading:hover
{
    text-decoration: underline;
} 


/* Footer */

.site-footer
{
    background: #143156;
    font-size: 1vw;
    color: white;
    margin: auto;
    padding: 2vh 2vw;
    height: 10%;
    width: 100%;

}



.footer-content
{
    display: flex;
    align-items: center;
    justify-content: center;

}


