*
{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

html
{
    scroll-behavior: smooth;
}

body
{
    background: white;
    color: black; /*sets text at the beginning to be black*/
    overflow-x: hidden; /*hides horizontal scroll*/
}

#home
{
    position: relative;
    width: 100%;
    height: 100vh;
    background: white;
}

.container
{
    padding: 1% 5%;
}

.logoImage
{
    width: 10vw;
}

nav
{
    display: flex;
    width: 84vw;
    margin: auto;
    padding: 2vh 2vw;
    align-items: center;
    justify-content: space-between;
}

nav ul li
{
    text-decoration: none;
    color: black;
    font-weight: bolder;

}

nav ul li
{
    display: inline-block;
    list-style: none;
    margin: 1vh 1vw;
}

/*hover over (home, about, resume, etc.) to get underline*/
nav ul li a
{
    text-decoration: none;
    color:black;
    font-weight: bold;
}

nav ul li a:hover
{
    text-decoration: underline;
} 










/*spacing between sections is mostly about the PADDING*/


#home-text
{
    margin-bottom: 10vh;

}
.home-image
{
    float: right;
    clear: right; 
    margin-left: 1vw; 
    margin-bottom: 0.25vh;
}

.home-image img
{
    height: 45vh;
    width: 20vw;

}

.home-text h1
{
    font-size: 7vw;
    padding: 3vh 0;
    color: black;
    margin-top: 2vh;
    position: relative;
    left: 3vw;
    text-shadow: 0.1% 4% 4px;
}

.home-text h1 span
{
    color: #74c9ed;
}

.home-text h1 span2
{
    color: #143156;
}

.home-text h2
{
    font-size: 2.5vw;
    padding: 0.5vh 0;
    color: black;
    margin-top: 2%;
    position: relative;
    left: 7.5vw;
}

.home-text h3
{  
    margin-top: 2vh;

    left: 5vw;
    padding: 1vh 0;

    margin-left: 15vw;
    font-size: 1.25vw;
}
.email:hover
{
    text-decoration: underline;
}


.home-text h4
{    
    left: 5vw;
    padding: 1vh 0;

    margin-left: 15vw;
    font-size: 1.25vw;
}
.github:hover
{
    text-decoration: underline;
}


.home-text h5
{
    left: 5vw;
    padding: 1vh 0;

    margin-left: 15vw;
    font-size: 1.25vw;
    margin-bottom: 10vh;

}
.linkedin:hover
{
    text-decoration: underline;
}







/* About Me */

#about
{
    margin-top: 5vh;
    padding: 5vh 0;
    color: black;
}

.row
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.aboutMe-image
{
    flex-basis: 35vw;

    float: left; 
    margin-right: 2vw; 
    margin-bottom: 0.25vh;
    margin-top: 0.25vh;
}




.aboutMe-image img
{
    height: auto;
    width: 33vw;
    border-radius: 15px;
}

.aboutMeSubtitle
{
    flex-basis: 60vw;
    font-size: 3vw;
    color: black;
}

.aboutMeSubtitle span
{
    color: #74c9ed;
}

.aboutMeSubtitle span2
{
    color:#143156;
}

.aboutMe-Description p
{
    flex-basis: 60vw;
    line-height: 350%;
}



/* Education */

#education
{
    margin-top: 5vh;
    padding: 5vh;
    line-height: 200%;
    
}

.edu-background
{
    line-height: 250%;

}



.educationSubtitle
{
    font-size: 3vw;
    margin-bottom: 2vh;
}

.educationSubtitle span
{
    color:#74c9ed;
    
}

.educationSubtitle span2
{
    color:#143156;
}

.njit
{
    font-size: 1vw;
}

.dates
{
    font-size: 0.8vw;
}

.courseworkSubtitle
{
    font-size: medium;
    clear: right;

}


/*My Portfolio */
/*
#portfolio
{ 
    padding: 1vh 0;
    left: 1.3vw;
    line-height: 200%;
}
*/

.wrapper
{
    padding: 1% 5%;
    left: 1.3vw;
    line-height: 200%;
    display: flex;

}


.portfolio
{
    display: flex;
}

.portfolioSubtitle 
{
    font-size: 3vw;

}

.portfolioSubtitle span
{
    color:#74c9ed;
}

.portfolioSubtitle span2
{
    color:#143156;
}

.portfolioList
{
    display: grid;
    margin-top: 4.6vh;
}
.project1
{
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}

.blackjackTitle
{
    font-size: 1.8vw;
}

.blackjackTitle:hover
{
    text-decoration: underline;
} 

.portfolio img
{
   width: 30vw;
   height: auto;
   border-radius: 15px; 
   display: block; 
}


